<div class="well">
<h3>Anorexia</h3>

<em>Anorexia Nervosa</em> betekent letterlijk: ‘gebrek aan eetlust door psychische oorzaak’, maar niets is minder waar. Iemand met Anorexia Nervosa heeft wel degelijk honger, maar weet dit gevoel op alle mogelijke manieren te onderdrukken. </strong></p>
<p>Magerzucht wordt het tegenwoordig ook wel genoemd en betekent zoveel als ‘verlangen om mager te zijn’ (of angst om dik te zijn…). Bij
  Anorexia Nervosa uit zich dit doordat iemand die hieraan lijdt bij voortduring extreem weinig eet en/of steeds minder gaat eten om het
  verder afvallen te kunnen continueren.</p>
<p>Iemand met anorectisch gedrag is meestal erg mager, een ondergewicht van 15 tot zelfs 30 procent is geen uitzondering. Het lichaamsbeeld
  is verstoord, waardoor ze zich nog ‘dik’ voelen (en zien!) ook als ze broodmager zijn. Anorexia Nervosa is als officiële eetstoornis
  opgenomen in de <a href="http://www.humanconcern.nl/home/eetstoornis-mv/dsm-v/" target="_blank">DSM-V</a>.</p>
<p>Gewicht alleen mag niet het uitgangspunt zijn! Het is namelijk heel goed mogelijk dat iemand met een normaal gewicht of zelfs met
  overgewicht aan Anorexia Nervosa (een vorm van) lijdt. Mensen met Anorexia Nervosa vertonen in eerste instantie vaak hyperactief gedrag,
  dat zich bijvoorbeeld uit in fanatiek sporten of overdreven veel bewegen. Dit gedrag wordt ten onrechte in eerste instantie vaak als een
  teken van gezondheid beschouwd.</p>
<p>In de praktijk is de scheidslijn tussen de verschillende eetstoornissen zeker niet altijd even scherp te trekken! Anorectische en
  Boulimische periodes kunnen elkaar afwisselen en opvolgen of zelfs samengaan.</p>
<h2>Hoe ontstaat Anorexia Nervosa?</h2>
<p>Het leven van iemand met een eetprobleem wordt beheerst door eten en niet eten. Obsessieve gedachten rondom eten gaan gepaard met een
  allesoverheersende angst om dik te worden of te blijven. Anorexia Nervosa kan evenals
  <a title="Boulimia nervosa" href="http://www.humanconcern.nl/home/eetstoornis-mv/boulimia-nervosa/" target="_blank">Boulimia</a>
  en<a href="http://www.humanconcern.nl/home/eetstoornis-mv/eetbuistoornis-bed-binge-eating-disorder/" target="_blank"> BED</a> (Binge
  Eating Disorder = Eetbuistoornis) verschillende oorzaken hebben. Er is niet één specifieke oorzaak aan te wijzen. Het is vaak een
  samenloop van omstandigheden waarin verschillende factoren een rol spelen: ‘aanleg’ in de persoonlijkheid, opvoeding, negatieve
  ervaringen, cultuur, media. Wel is het vaak zo dat een bepaalde gebeurtenis de emmer doet overlopen en maakt dat een eetstoornis zich
  openbaart of verder ontwikkelt.</p>
<h2>Wat zijn de gevolgen van Anorexia Nervosa?</h2>
<p><strong>Anorexia Nervosa, Boulimia en een Eetbuistoornis (BED) kunnen nogal wat psychische en sociale gevolgen hebben.<br></strong><br>
  Iemand met een eetstoornis voelt zich minderwaardig en onzeker. Is vaak depressief en eenzaam. Soms kan iemand psychisch zo in de knel
  raken en zich zo ongelukkig voelen dat men suïcide (zelfmoord) overweegt. Na verloop van tijd komt iemand met een eetstoornis in een
  sociaal isolement, omdat diegene zich niet meer goed voelt tussen anderen, zichzelf niet de moeite waard vind, onzeker is, of gewoon omdat
  iemand het fenomeen eten op alle mogelijk manieren probeert te ontwijken. Eenzaamheid is het gevolg.</p>
<p>Bij Anorexia Nervosa leidt ondergewicht tot <strong>zwakte, moeheid, flauwvallen</strong>, concentratie verlies, kouwelijkheid, blauwe
  handen of voeten, overbeharing, botontkalking, opgezette lichaamsdelen als gevolg van het vasthouden van vocht, etc.</p>
<p>Een <strong>tekort aan ijzer</strong> (bloedarmoede), zout (uitdroging), mineralen (kalium), vitamines, eiwitten, komt zowel bij Anorexia
  Nervosa als bij Boulimia voor. Een <strong>kalium tekort</strong> kan zelfs levensgevaarlijk zijn, omdat hartritmestoornissen en in het
  ergste geval een hartstilstand het gevolg kunnen zijn. Bij het gebruik van laxeermiddelen kan uitdroging optreden, luiheid of stilstand
  van de darmen, hevige buikpijn en obstipatie.</p>
<p>Het <strong>wegvallen van de menstruatie</strong> bij vrouwen en impotentie bij mannen zijn een van de eerste tekenen dat er lichamelijk
  het een en ander niet in orde is. Zowel bij Anorexia Nervosa, als bij Boulimia.</p>
<p>Veel van deze lichamelijke gevolgen herstellen zich wanneer iemand weer normaal gaat eten, stopt met braken en laxeren en een normaal
  gewicht heeft. Behalve de aantasting van het glazuur en botontkalking die van blijvende aard zijn. In de meeste gevallen komt de
  menstruatie ook na verloop van tijd terug. Soms kan het zijn dat iemand met Anorexia Nervosa na langdurig en extreem gebruik van
  laxeermiddelen klachten houdt aan darmen en maag.</p>
<p><strong>Behandeling Anorexia</strong><br>Human Concern biedt een hoog specialistische behandeling van eetstoornissen als Anorexia
  Nervosa, Boulimia, Eetbuistoornis (BED) en NAO.&nbsp;&nbsp;Lees meer over
  onze&nbsp;<a href="https://www.humanconcern.nl/clienten/behandeling/behandeltrajecten/" target="_blank">behandeltrajecten</a>&nbsp;of&nbsp;<a href="https://www.humanconcern.nl/meld-je-nu-aan/#behandeling" target="_blank">meld
  je aan</a>&nbsp;voor een behandeling.&nbsp;</p>
</div>