<%= bootstrap_form_for([forem, :admin, @category], :layout => :horizontal) do |f| %>
    <%= f.text_field( :name, :control_col => 'col-sm-6' ) %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.primary t("forem.admin.categories.#{view}") %>
      </div>
    </div>
<% end %>
