<%= bootstrap_form_for([forem, :admin, @category], :layout => :horizontal) do |f| %>
    <%= f.text_field( :name, :control_col => 'col-sm-6' ) %>

    <div class="form-group">
      <%= f.primary t('forem.admin.categories.edit') %>
    </div>
<% end %>
