<h2>Forgot your password?</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), layout: :horizontal) do |f| %>
    <%= f.email_field( :email, :autofocus => true, :control_col => 'col-sm-6' ) %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.primary 'Send me reset password instructions' %>
      </div>
    </div>
<% end %>

<div class="form-group">
  <div class="col-sm-6 col-sm-offset-2">
    <%= render 'devise/shared/links' %>
  </div>
</div>